[Unit]
Description=Torenuurwerk Oostwoud
After=syslog.target network.target

[Service]
Environment=RUST_LOG=info
Type=simple
#ExecStartPre=
WorkingDirectory=/home/pi/torenuurwerk-oostwoud-rs
ExecStart=/home/pi/torenuurwerk-oostwoud-rs/target/debug/torenuurwerk-oostwoud
Restart=always
RestartSec=10
#ExecStopPost=
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=torenuurwerk

[Install]
WantedBy=multi-user.target

# om mij te installeren:
# kopieer dit bestand naar /etc/systemd/system
# `sudo cp /home/pi/torenuurwerk-oostwoud/torenuurwerk-oostwoud.service /etc/systemd/system`
# zet de service aan:
# `sudo systemctl enable torenuurwerk-oostwoud.service`
# `sudo systemctl start torenuurwerk-oostwoud.service`
# om de status te checken:
# `sudo systemctl status torenuurwerk-oostwoud.service`

